* {
    margin: 0;
    box-sizing: border-box;
}
.container {
    background-image: url("/images/pattern.jpeg");
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    width: 1900px;
    height: 110px;
}
.title {
    font-size: 80px;
    color: rgba(235, 235, 19, 0.795);
    padding: 5px;
}
.brush {
    font-size: 30px;
    color: white;
    background-color: rgb(82, 240, 179);
    margin-bottom: 20px;
}
.img1 {
    width: 220px;
    height: 200px;
    margin-bottom: 10px;
}
.h-brush {
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}
p {
    font-size: 18px;
    margin-bottom: 20px;
}
.span1 {
    color: blue;
    font-weight: bold;
}
.frames {
    color: white;
    background-color: rgb(255, 111, 111);
    margin-bottom: 15px;
    font-size: 30px;
}
.img2 {
width: 220px;
height: 200px;
margin-bottom: 10px;
}
.art-frames {
    color: black;
    font-size: 18px;
    margin-bottom: 13px;
    font-weight: bold;
}
.span2 {
    color: blue;
    font-weight: bold;
}
.paint {
    font-size: 30px;
    color: white;
    background-color: rgb(54, 154, 236);
    margin-bottom: 20px;
}
.img3 {
    width: 220px;
    height: 200px;
    margin-bottom: 10px;
    }
    .clean {
        color: black;
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: bold;
    }
    .span3 {
        color: blue;
        font-weight: bold;
    }
